n8n/demo-data/workflows/rag-chat-agent.json
{
  "id": "XD6oLViZsqyiEzw5",
  "name": "RAG Chat Agent",
  "createdAt": "2025-01-04T10:00:00.000Z",
  "updatedAt": "2025-01-04T10:00:00.000Z",
  "versionId": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "chat-trigger",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "webhookId": "multimodal-rag-chat"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful AI assistant that answers questions based on the documents that have been uploaded. When referencing information, mention the source document. If there are images in the documents, describe them when relevant. If you don't find relevant information in the context, say so clearly."
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [220, 0]
    },
    {
      "parameters": {
        "model": "llama3.3:latest",
        "options": {}
      },
      "id": "ollama-chat",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [220, 200],
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "name": "search_documents",
        "description": "Search the knowledge base for relevant information. Use this tool to find answers from uploaded documents.",
        "topK": 5
      },
      "id": "qdrant-tool",
      "name": "Qdrant Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [420, 200]
    },
    {
      "parameters": {
        "mode": "retrieve",
        "qdrantCollection": {
          "__rl": true,
          "value": "multimodal-rag",
          "mode": "list"
        },
        "options": {}
      },
      "id": "qdrant-retrieve",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [420, 400],
      "credentials": {
        "qdrantApi": {
          "id": "qdrant-local",
          "name": "Local Qdrant"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest",
        "options": {}
      },
      "id": "ollama-embeddings",
      "name": "Ollama Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [420, 600],
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "id": "memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [220, 400]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 0}]]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [[{"node": "AI Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "Qdrant Vector Store Tool": {
      "ai_tool": [[{"node": "AI Agent", "type": "ai_tool", "index": 0}]]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [[{"node": "Qdrant Vector Store Tool", "type": "ai_vectorStore", "index": 0}]]
    },
    "Ollama Embeddings": {
      "ai_embedding": [[{"node": "Qdrant Vector Store", "type": "ai_embedding", "index": 0}]]
    },
    "Window Buffer Memory": {
      "ai_memory": [[{"node": "AI Agent", "type": "ai_memory", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "meta": {"templateCredsSetupCompleted": true},
  "pinData": {},
  "triggerCount": 0,
  "tags": []
}
