n8n/demo-data/workflows/rag-chat-agent.json
{
  "name": "Multimodal RAG Chat Agent",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "chat-trigger",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "webhookId": "multimodal-rag-chat"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful document assistant. You have access to a knowledge base of documents that have been uploaded by the user.\n\nIMPORTANT INSTRUCTIONS:\n1. Always use the Qdrant vector store tool to retrieve information before answering\n2. Base your answers ONLY on the retrieved information - do not make things up\n3. If the retrieved context doesn't contain the answer, say so honestly\n4. When images are referenced in the retrieved content, include them in your response using markdown format\n5. Format your responses clearly with headers, bullet points, and proper structure\n6. If you find relevant diagrams or images, display them using: ![description](url)"
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [220, 0]
    },
    {
      "parameters": {
        "model": "llama3.3:latest",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "ollama-chat",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [220, 200],
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "name": "document_search",
        "description": "Use this tool to search the knowledge base for information from uploaded documents. Always use this before answering questions.",
        "qdrantCollection": {
          "__rl": true,
          "value": "multimodal-rag",
          "mode": "list",
          "cachedResultName": "multimodal-rag"
        },
        "topK": 5,
        "options": {}
      },
      "id": "qdrant-retriever",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [440, 200],
      "credentials": {
        "qdrantApi": {
          "id": "qdrant-local",
          "name": "Local Qdrant"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest",
        "options": {}
      },
      "id": "ollama-embeddings-chat",
      "name": "Ollama Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [440, 400],
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "id": "memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [220, 400]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
